* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 870px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.root__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar_container {
  min-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar_container .sidebar_row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.sidebar_container .bottom-block {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-bottom: 20px;
}

.content_container {
  max-width: 1180px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu .menu-item {
  width: 228px;
  margin: 6px 0;
  padding: 18px;
}

.menu .menu-item-icon {
  height: 20px;
}

.menu .menu-item-text {
  padding-left: 36px;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #35363F;
  background-repeat: no-repeat;
}

.menu .selected {
  background: #F4F9F9;
  border-radius: 8px;
  font-weight: 700;
}

.menu .ico-schedule {
  background-image: url('css-ex-zutobi/img/icons/1f906d1a974b26da13ac.svg');
}

.menu .ico-calendar {
  background-image: url('css-ex-zutobi/img/icons/5d2713fadae3e8647129.svg');
}

.menu .ico-students {
  background-image: url('css-ex-zutobi/img/icons/be3b1520d911d3da29ac.svg');
}

.menu .ico-students-sel {
  background-image: url('css-ex-zutobi/img/icons/8a0a748e126436e120fd.svg');
}

.menu .ico-profile {
  background-image: url('css-ex-zutobi/img/icons/d230bbdf1f7bce3ffa3a.svg');
}

.menu .ico-help {
  background-image: url('css-ex-zutobi/img/icons/8852f70abbba1863d632.svg');
}

.menu .ico-logout {
  background-image: url('css-ex-zutobi/img/icons/d22720ec7efb95af437a.svg');
}

.logo {
  width: 228px;
  margin: 10px 0 20px 0;
  padding: 18px;
}

.logo img.logo-image {
  margin-left: 13px;
}

.logo img.burger {
  margin-top: 6px;
}

.upper-nav-block .back-button {
  margin-left: 36px;
  margin-top: 16px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #146462;
  background: url('css-ex-zutobi//img/icons/de0f9869098a0b26db46.svg') 0 50% no-repeat;
}

.upper-content_container {
  margin: 41px 36px 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upper-content_container .page-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.15px;
  color: #1F2024;
}

.upper-content_container .add-student-button {
  width: 152px;
  height: 40px;
  background: -o-linear-gradient(353.07deg, #1A8F89 2.23%, #137272 98.4%);
  background: linear-gradient(96.93deg, #1A8F89 2.23%, #137272 98.4%);
  -webkit-box-shadow: 0 4px 8px rgba(10, 97, 114, 0.3);
          box-shadow: 0 4px 8px rgba(10, 97, 114, 0.3);
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tabs_container {
  margin: 33px 36px 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 0.5px solid #DDDFEB;
}

.tabs_container .tab_column {
  margin-right: 24px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 220%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #5C6179;
}

.tabs_container .tab_column.selected {
  font-weight: 700;
  color: #146462;
  border-bottom: 1px solid #146462;
}

.main-content_container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 24px;
  margin: 16px 36px 32px;
}

.main-content_container .main-content-students-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 12px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content_container .main-content-students-list .current-student-card {
  margin: 12px 6px 0 5px;
  width: 198px;
  height: 280px;
  background: #FFFFFF;
  border: 1px solid #EAECF5;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.main-content_container .main-content-students-list .current-student-card .upper-background {
  height: 98px;
  background: #E8F5F5;
}

.main-content_container .main-content-students-list .current-student-card .student-photo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 132px;
  height: 132px;
  border: 6px solid #F9F9FB;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 24px;
  left: 17%;
}

.main-content_container .main-content-students-list .current-student-card .student-photo img {
  position: relative;
  left: -6px;
  top: -6px;
}

.main-content_container .main-content-students-list .current-student-card .student-info-block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content_container .main-content-students-list .current-student-card .student-info-block .student-name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 120%;
  color: #1F2024;
}

.main-content_container .main-content-students-list .current-student-card .student-info-block .finished-lessons {
  margin-top: 4px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 120%;
  color: #5C6179;
}

.main-content_container .main-content-students-list .current-student-card .student-info-block .contact-button {
  margin-top: 16px;
  padding-top: 8px;
  width: 132px;
  height: 32px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #1A8F89;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #1A7E7D;
}

.main-content_container .main-content-search-bar {
  margin: 24px 36px 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content_container .main-content-search-bar .found-students-count {
  line-height: 150%;
  color: #9CA1B9;
}

.main-content_container .main-content-search-bar .search-by-name {
  width: 280px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #EAECF5;
  border-radius: 8px;
  padding: 8px 0 0 44px;
  background: url('css-ex-zutobi//img/icons/a466cba51e55cddb0288.svg') 19px 50% no-repeat;
  font-size: 1rem;
  line-height: 150%;
  color: #9CA1B9;
}

.main-content_container .main-content-search-bar .search-by-name input:focus {
  outline: none;
}

.main-content_container .main-content-search-bar .search-by-name input {
  font-size: 1rem;
  line-height: 150%;
  color: #9CA1B9;
}

.main-content_container .main-content-search-bar .search-by-name input::-webkit-input-placeholder {
  color: #9CA1B9;
  opacity: 1;
}

.main-content_container .main-content-search-bar .search-by-name input::-moz-placeholder {
  color: #9CA1B9;
  opacity: 1;
}

.main-content_container .main-content-search-bar .search-by-name input:-ms-input-placeholder {
  color: #9CA1B9;
  opacity: 1;
}

.main-content_container .main-content-search-bar .search-by-name input::-ms-input-placeholder {
  color: #9CA1B9;
  opacity: 1;
}

.main-content_container .main-content-search-bar .search-by-name input::placeholder {
  color: #9CA1B9;
  opacity: 1;
}

.main-content_container .main-content-search-bar .search-by-name input::-ms-input-placeholder {
  color: #9CA1B9;
}

.main-content_container .main-content-search-bar .search-by-name input::-ms-input-placeholder {
  color: #9CA1B9;
}

.main-content_container .main-content-pager-bar {
  margin: 39px 36px 24px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content_container .main-content-pager-bar .showing-entries-count {
  line-height: 150%;
  color: #9CA1B9;
}

.main-content_container .main-content-pager-bar .main-content-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content_container .main-content-pager-bar .main-content-pager .pager-button {
  margin-left: 8px;
}

.main-content_container .main-content-pager-bar .main-content-pager .pager-button-inner {
  padding-top: 5px;
  width: 25px;
  height: 32px;
  background: #F9F9FB;
  border-radius: 8px;
  line-height: 150%;
  text-align: center;
  color: #5C6179;
}

.main-content_container .main-content-pager-bar .main-content-pager .pager-button-inner.arrow {
  width: 40px;
}

.main-content_container .main-content-pager-bar .main-content-pager .pager-button-inner.selected {
  background: #1A7E7D;
  color: #FFFFFF;
}

.main-content_container .main-content-pager-bar .main-content-pager .pager-button-inner.enabled {
  color: #1A7E7D;
}